nebext-popup {
    box-sizing: border-box;
    --nebula-blue: #6fbce6;
    --transition-speed: 100ms;

    visibility: visible;

    position: fixed;
    top: 5em;
    left: 50%;
    width: 30em;
    margin-left: -15em;
    z-index: 99999;
    background: #fff;
    padding: 1rem 2rem;
    color: #333;
    box-shadow: 0px 2px 14px -6px;
}

@keyframes woosh-in {
    0% {
        top: -50%;
    }
    100% {
        top: 5em;
    }
}

nebext-popup.displayed {
    animation: woosh-in 300ms ease-in-out;
}

nebext-x {
    position: absolute;
    top: -1rem;
    right: -1rem;
    height: 2em;
    width: 2em;
    font-size: 3em;
    text-align: center;
    line-height: 2;
    color: #ddd;
    cursor: pointer;
}

nebext-star svg {
    position: relative;
    display: block;
    height: 48px;
    margin: auto;
}

nebext-popup a {
    display: block;
    height: 4em;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
}

nebext-popup button {
    background-color: var(--nebula-blue);
    border: 4px solid #5b77b3;
    border-width: 0 0 4px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    opacity: 1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity var(--transition-speed);
}

nebext-popup button:hover,
nebext-popup button:focus {
    opacity: 0.8;
}

nebext-popup h1, nebext-popup h2 {
    font-weight: normal;
}

nebext-popup h1 {
    text-align: center;
    margin-bottom: 1rem;
}

nebext-name, nebext-title {
    color: #000;
    font-weight: bold;
}
